.collapsible-element {
  padding: 0 0 1rem;
}

.collapsible-title {
  font-weight: 400;
  cursor: pointer;
  border-bottom: 2px dashed $item-background-color;
}

.collapsible-element {
  input {
    display: none;
  }

  .collapsible-content {
    height: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
  }

  input:checked + .collapsible-content {
    transition: opacity ease-in 0.5s;
    height: auto;
    opacity: 1;
    padding: 0.5rem 1.5rem 0.5rem;
  }
}
