#experience {
  img {
    width: 450px;
    max-width: 100%;
  }


  .container {
    @media screen and (max-width: 500px) {
      flex-direction: column-reverse;
    }
  }
}

.experience-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
