$accent-bg: rgb(112, 128, 107);
$section-bg: #f0dbcc;
$light-bg: #fffaf5;

$primary-text-color: #333;
$opposite-text-color: #fefefe;
$active-text-color: #efc3a9;

$item-background-color: #d49b7d;
$item-hover-background-color: #b5b096;

$accent-bg-footer: #efc3a9;
